         <div class="mastfoot">
            <div class="inner">
              <p>All Rights reserved <a href="#">2017</a>, by <a class="title" target="_blank" href="https://twitter.com/skirmustafa">@skir</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
    </body>
</html>