<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login App -skirmustafa</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <script src="js/jquery.js"></script>
    <script src="/js/tether.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/editStyle.css">
</head>
<body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a class="title" href="/">skirmustafa</a></h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Github</a>
                <a class="nav-link" href="#">Fb</a>
                <a class="nav-link" href="#">Twitter</a>
              </nav>
            </div>
          </div>