            <div class="panel">
              <div class="col-6 offset-3">
                <form action="/home" method="post" class="form-group">
                  <input type="hidden" name="signup" value="true">
                  <div class="form-group">
                    <label for="name" class="label sr-only">Name</label>
                    <div class="input-group">
                      <input required type="text" name="name" placeholder="name ..." class="form-control">
                      <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="name" class="label sr-only">Email</label>
                    <div class="input-group">
                      <input type="text" name="email" placeholder="email ..." class="form-control">
                      <div class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="name" class="label sr-only">Address</label>
                    <div class="input-group">
                      <input type="text" name="add" placeholder="Address ..." class="form-control">
                      <div class="input-group-addon">
                        <i class="fa fa-map"></i>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="pswd" class="label sr-only">Password</label>
                    <div class="input-group">
                      <input required type="password" name="pswd" placeholder="Password ..." class="form-control">
                      <div class="input-group-addon">
                        <i class="fa fa-lock"></i>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <input style="float:right" type="submit" value="signup" class="btn btn-primary btn-sm">
                  </div>
                  <br class="clearfix">
                  <div class="form-group" style="float:left;">
                    <b>or you can <a href="/" style="color:antiquewhite" class="btn btn-link">login <i class="fa fa-arrow-right"></i></a></b>
                  </div>

                </form>
              </div>
            </div>