<!-- Header  -->
<% include partials/header.ejs %>

<h1 class="title">Welcome <%= user.name %></h1>
<p><a href="/">logout <i class="fa fa-arrow-right title"></i></a></p>

<!-- Footer  -->
<% include partials/footer.ejs %>